  body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .bg-steel {
    background-color: #a28089;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 15px 20px;
    border: 3px solid #dddddd;
    border-radius: 5px;
    border-color: #a28089;
    border-style: solid;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added a box-shadow for a floating effect */
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #ff6347; /* On hover, change the title color to a different shade */
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
    line-height: 1.6; /* Improved line spacing for better readability */
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding: 5px 0; /* Adjusted padding for better spacing */
    margin-bottom: 10px; /* Increased margin for separation */
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #428bca; /* On hover, change the link color to the primary theme color */
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .author {
    font-weight: 500; /* Made the author's name slightly more prominent */
    text-decoration: none; /* Removed underline from author name */
  }
  
  .date {
    color: #999; /* Softened the date color for a more subtle appearance */
  }
