.container-login {
    max-width: 500px;
    width: 100%;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    border: 3px solid #a28089;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.container-login header {
    font-size: 1.2rem;
    color: #a28089;
    font-weight: 600;
    margin-bottom: 10px;
}

.container-login .forms {
    margin-top: 15px;
    text-align: left;
}

.input-box label {
    color: #a28089;
    text-align: left;
}

.input-box input {
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #a28089;
    margin-top: 5px;
    border: 1px solid #EE4E34;
    border-radius: 6px;
    padding: 0 15px;
    background: #ffffff;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-forgot-password {
    height: 40px;
    width: 70%;
    --color: #a28089;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 15px;
    border: 1px solid #EE4E34;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-forgot-password:before,
.submit-forgot-password::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 6px;
    z-index: -1;
    background-color: var(--color);
    transition: all 0.1s ease;
}

.submit-forgot-password:before {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}

.submit-forgot-password::after {
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
}

.submit-forgot-password:hover::before,
.submit-forgot-password:hover::after {
    width: 100%;
}

.submit-forgot-password:hover {
    color: white;
}

.submit-forgot-password:active {
    filter: brightness(0.8);
}
