.form-control-label {
    color: #a28089;
    font-size: 18px;
}

.btn-outline-info:hover {
    background-color: #a28089;
    border-color: #a28089;
}

legend {
    text-align: center; /* Center the text */
    font-size: 24px; /* Adjust the font size as needed */
    color: #a28089;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-bottom: 15px;
    /* You can add additional styling if required */
    border-bottom: 2px solid #a28089; /* Adding a border for a more prominent border-bottom effect */
    padding-bottom: 5px; /* Adding padding to the bottom for space between text and border */
}   

.modal {
    z-index: 1050;
}

.modal-backdrop {
    z-index: 1040;
}

.user-posts {
    color: #a28089;
}
